<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products">
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.price | currency: 'INR'}}</td>
                <td>
                    <a class="btn btn-primary" [routerLink]="['/products/edit',item.id]">Edit</a>
                    <a class="btn btn-danger mx-3" (click)="deleteProduct(item.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col col-md-5 mx-2 offset-md-5">
        <a class="btn btn-primary" routerLink="/products/create">Add Product</a>
    </div>
</div>
