<p>Data Is Here</p>
<div>
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
        </thead>
        <tbody >
            <tr *ngFor="let item of Recieve">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
            </tr>
        </tbody>
    </table>
</div>

<hr>
<div>
    <table>
        <thead>
            <td><b>Name</b></td>
            <th>Phone Number</th>
            <th>City</th>
        </thead>
        <tbody>
            <tr *ngFor="let data of getData">
                <td>{{data.name}}</td>
                <td>{{data.phone}}</td>
                <td>{{data.city}}</td>
            </tr>
        </tbody>
    </table>
</div>
